<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('User Search')">
</head>
<body class="ui container">
    <div th:include="fragments/navbar :: navbar-partial"></div>
        <h2>SEARCH FOR A LOCALE:</h2>
            <div class="ui hidden divider" />
                <div class="ui local search">
                    <div class="ui left icon input">
                        <input type="text" placeholder="e. g. Il Mulino"/>
                    </div>
                    <button type="button" class="ui submit button">SEARCH</button>
            </div>
        <br />
    <div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Fq2UspbtyX0spv_22WGd4ChnxFIQREQ"></script>
<script>
    $(document).ready(function () {
        function initMap() {

            var sanantonio = {lat: 29.426786, lng: -98.489576};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: sanantonio
            });
            var marker = new google.maps.Marker({
                position: sanantonio,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
        initMap();

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

    });
</script>
</body>
</html>