<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="main-header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script language="javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/semantic.superhero.min.css" />
    <link rel="stylesheet" href="/css/customstyling.css" />
</head>
<body>
<div
    th:fragment="error(condition, type, messages)"
    th:if="${condition}"
    th:class="${'alert alert-' + type + ' alert-dismissible'}"
    role="alert"
>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul>
        <li th:each="message : ${messages}"
            th:text="${message}" />
    </ul>
</div>
</body>
</html>