<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="main-header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-ico" href="images/favicon.ico" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <!--&lt;!&ndash; Latest compiled and minified CSS-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/semantic.min.css" />
    <link rel="stylesheet" href="css/semantic.superhero.min.css" />
</head>
<body>

</body>
</html>