<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<map class="fluid" th:fragment="map">
<div class="ui hidden divider"></div>
   <div class="ui local search">
   <form id="searchForm" action="">
       <div class="ui left icon input">
           <input id="search-box" type="text" placeholder="Sushi"/>
       </div>
       <button type="submit" id="search-btn" class="ui submit button">SEARCH</button>
       </form>
   </div>
<div id="map"></div>
<button id="more-btn" type="button" class="ui submit button">MORE</button>
<script src="https://apis.google.com/js/platform.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Fq2UspbtyX0spv_22WGd4ChnxFIQREQ&amp;libraries=places"></script>
<script th:inline="javascript">
      /*<![CDATA[*/
          var csrfParam = /*[[${_csrf.parameterName}]]*/ '';
          var csrfToken = /*[[${_csrf.token}]]*/ '';
          var latStr = /*[[${collection.latitude}]]*/ '29.426786';
          var lonStr = /*[[${collection.longitude}]]*/ '-98.489576';
          var pointsOfInterest = /*[[${collection.pointsOfInterest}]]*/ '';
       /*]]>*/
</script>
<script src="/js/map.js"></script>
</map>
<menu class="fluid" th:fragment="poidetails">
    <div id="test-modal" class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Profile Picture
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img src="/images/avatar/large/chris.jpg"/>
        </div>
        <div class="description">
          <div class="ui header">We've auto-chosen a profile image for you.</div>
          <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
          <p>Is it okay to use this photo?</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Nope
        </div>
        <div class="ui positive right labeled icon button">
          Yep, that's me
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
</menu>
</body>
</html>
