<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<nav th:fragment="navbar-partial" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h1>CADDY</h1></a>
        <div class="navbar-header" id="navbarColor03">
            <ul class="navbar-nav mr-auto ui buttons">
                <div class="nav-link ui button">Home</div>
                <div class="ui button">Log In</div>
                <div class="ui button">Profile</div>
                <div class="ui button">Search</div>
                <div class="ui button">About</div>
                <div class="ui button">Log Out</div>
            </ul>
        </div>
    </nav>
    <hr />
</body>
</html>