<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<nav th:fragment="navbar-partial" class="navbar navbar-expand-lg navbar-light bg-light">
    <br />
        <a class="navbar-brand" href="#"><h1>CADDY</h1></a>
        <div class="navbar-header" id="navbarColor03">
            <ul class="navbar-nav mr-auto ui buttons">

                <!--on logged in authorization: profile, log out. all others visible on logged out-->

                <!--<div class="ui right sidebar active button" data-transition="overlay" data-direction="right">-->
                    <!--<div class="ui button" data-transition="overlay">-->
                        <!--<div class="ui button">Home</div>-->
                        <!--<div class="ui button">Log In</div>-->
                        <!--<div class="ui button">Profile</div>-->
                        <!--<div class="ui button">Search</div>-->
                        <!--<div class="ui button">About</div>-->
                        <!--<div class="ui button">Log Out</div>-->
                    <!--</div>-->
                <!--</div>-->


            </ul>
            <div class="ui left demo vertical inverted sidebar labeled icon menu">
                <a class="item">
                    <i class="home icon"></i>
                    Home
                </a>
                <a class="item">
                    <i class="block layout icon"></i>
                    Topics
                </a>
                <a class="item">
                    <i class="smile icon"></i>
                    Friends
                </a>
            </div>
        </div>
    <hr />
</nav>


<script>
    $(document).ready(function() {
        $('.ui.labeled.icon.sidebar')
            .sidebar('toggle');
    });
</script>
</body>
</html>