<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<map class="fluid" th:fragment="map">
<div class="ui hidden divider"></div>
   <div class="ui local search">
   <form id="searchForm" action="">
       <div class="ui left icon input">
           <input id="search-box" type="text" placeholder="Sushi"/>
       </div>
       <button type="submit" id="search-btn" class="ui submit button">SEARCH</button>
       </form>
   </div>
<div id="map"></div>
<button id="more-btn" type="button" class="ui submit button">MORE</button>
<script src="https://apis.google.com/js/platform.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Fq2UspbtyX0spv_22WGd4ChnxFIQREQ&amp;libraries=places"></script>
<script th:inline="javascript">
      /*<![CDATA[*/
          var csrfParam = /*[[${_csrf.parameterName}]]*/ '';
          var csrfToken = /*[[${_csrf.token}]]*/ '';
          var latStr = /*[[${collection.latitude}]]*/ '29.426786';
          var lonStr = /*[[${collection.longitude}]]*/ '-98.489576';
          var pointsOfInterest = /*[[${collection.pointsOfInterest}]]*/ '';
       /*]]>*/
</script>
<script src="/js/trip.js"></script>
</map>
</body>
</html>