<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('Profile')">
</head>
<body class="ui container">
<div th:include="fragments/navbar :: navbar-partial"></div>

    <h2>My Locations</h2>

<div class="ui card">
    <div class="content">
        <div class="header">
            <!--<img class="ui avatar image" src="">-->
            $ { saved city }
        </div>
        <div class="description">
            Short Description
        </div>
    </div>
    <div class="ui two bottom attached buttons">
        <div class="ui button">
            Search/Add
        </div>
        <div class="ui button">
            Delete
        </div>
    </div>
</div>

</body>
</html>