<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('Profile')">
</head>
<body>
<main class="ui container">
<div th:include="fragments/navbar :: navbar-partial"></div>

    <h2>My Locations</h2>
    <a href="#" class="item right floated" id="editprofile"><button type="button" class="ui submit button">Edit Profile</button></a>
    <br />
    <br />

<div class="ui three column grid">
<div class="column">
<!--placeholder trip card-->
<div class="ui card">
    <div class="content">
        <div class="header">
            <!--<img class="ui avatar image" src="">-->
            Add City
        </div>
        <div class="image">
            <img class="ui wireframe image" src="/images/placeholder_image.png"/>
          </div>
    </div>
    <div class="ui bottom attached buttons">
        <div class="ui button">
            Add
        </div>
    </div>
</div>
</div>
<div class="column">
<div th:each="collection : ${collections}">
<div class="ui card">
    <div class="content">
        <div class="header">
         <span th:text="${collection.location}">My Trip</span>
        </div>
        <div class="image" th:if="${collection.imageRef == null}" >
            <img class="ui wireframe image" src="/images/placeholder_image.png" />
        </div>
        <div class="image" th:if="${collection.imageRef != null}">
             <img class="ui wireframe image" th:src="@{https://maps.googleapis.com/maps/api/place/photo(maxwidth=260,maxheight=216,key=AIzaSyC-Fq2UspbtyX0spv_22WGd4ChnxFIQREQ,photoreference=${collection.imageRef})}" height="216" width="260"/>
        </div>
    </div>
    <a th:href="@{'/users/trips/' + ${collection.id}}">
      <div class="ui bottom attached buttons fluid">
        <div class="ui button">
            View
        </div>
      </div>
    </a>
</div>
</div>
</div>
</div>
<!--edit profile modal-->
<div class="ui demo modal button tiny profilemodal">
    <button type="button" class="close modalclose" data-dismiss="modal">X</button>
    <div class="ui aligned center">
        <h4 class="ui image header"><div class="content">Edit Profile</div></h4>
        <form class="ui form" th:action="@{user/profile/edit}" method="post">
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Email"/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password"/>
                    </div>
                </div>
                <div id="editprofile" class="ui fluid large submit button">Update</div>
            </div>
            <div class="ui error message"></div>
        </form>

    </div>
</div>
</main>
<script>
    $(document).ready(function() {

        $('#editprofile').click(function() {
            $('.profilemodal').modal('toggle');
        });
    });
</script>
</body>
</html>