<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('Register')">
</head>
<body>
<main class="ui container">
<div th:include="fragments/navbar :: navbar-partial"></div>
    <style type="text/css">
        body > .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }
    </style>

    <br />

    <div class="ui aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <div class="content">
                    Register For An Account
                </div>
            </h2>

            <div class="ui stacked segment">
        <form id="reg-form" class="ui large form" th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group spacinghere">
            <label for="username">Username</label>
        <div class="field">
            <input
                id="username"
                class="form-control"
                autofocus="autofocus"
                th:field="*{username}"
            />
            </div>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
        </div>
        <div class="form-group spacinghere">
            <label for="email">Email</label>
          <div class="field">
            <input
                id="email"
                class="form-control"
                th:field="*{email}"
            />
        </div>
            <div th:if="${#fields.hasErrors('email')}"
                class="alert alert-danger alert-dismissible"
                role="alert" >
                <span th:errors="*{email}"/>
            </div>
        </div>
        <div class="form-group spacinghere">
            <label for="password">Password</label>
           <div class="field">
            <input
                type="password"
                id="password"
                class="form-control"
                th:field="*{password}"
            />
         </div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
        </div>
        <div class="form-group spacinghere">
            <label for="password_confirm">Confirm your password</label>
           <div class="field">
            <input
                type="password"
                class="form-control"
                name="password_confirm"
                id="password_confirm"
            />
        </div>
        </div>
        <button type="submit" id="register-btn" class="ui fluid large submit button">Register</button>
        <div class="ui error message"></div>
        </form>
            </div>

        </div>
    </div>

    </main>
    <script>
      $(document).ready(function() {
          $('#reg-form')
            .form({
              fields: {
                username: {
                  identifier  : 'username',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Please enter your username'
                    }
                  ]
                },
                email: {
                                      identifier  : 'email',
                                      rules: [
                                        {
                                          type   : 'empty',
                                          prompt : 'Please enter your email'
                                        },
                                        {
                                            type:    'email',
                                            prompt : 'Your email address is invalid'
                                        }
                                      ]
                                    },

                password: {
                  identifier  : 'password',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Please enter your password'
                    },
                    {
                      type   : 'length[8]',
                      prompt : 'Your password must be at least 8 characters'
                    }
                  ]
                },
                password_confirm: {
                                  identifier  : 'password_confirm',
                                  rules: [
                                    {
                                      type   : 'empty',
                                      prompt : 'Please enter your confirmation password'
                                    },
                                    {
                                        type: 'match[password]',
                                        prompt : 'Your passwords don\'t match!'
                                    }
                                  ]
                               }
              }
           })
        });
      </script>
</body>
</html>


