<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header(title=('Client Error')"/>
<body class="ui container">
<main class="container">
    <th:block th:switch="${error}">
        <header class="page-header" th:case="'Not Found'">
            <h1>Page not found!!</h1>
        </header>
        <header class="page-header" th:case="'Forbidden'">
            <h1>You don't have permission to view this page.</h1>
            <script>
                // setTimeout(function(){location.href="/login"} , 3000);
             </script>
        </header>
        <header class="page-header" th:case="'Bad Request'">
            <h1>We cannot find what you are looking for. Try the search...</h1>
        </header>
        <header class="page-header" th:case="Unauthorized">
            <h1>Unauthorized</h1>
            <script>
                // setTimeout(function(){location.href="/login"} , 3000);
            </script>
        </header>
    </th:block>
</main>
</body>
</html>