.container{
    text-align: center;
}

.bghere{
    background-color: #2B3E50;
}

.goright {
    float: right;
}


#map {
    width: 600px;
    height: 400px;
    background-color: grey;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

.enterhere{
    margin-top: 175px;
}

.movecard{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.spacinghere{
    margin: 7px;
}

#sidebutton{
    float:right;
}

#loginspacing{
    margin-top: 15px;
}

#backbutton{
    float: left;
}

.ui.modal{
    background-color: #555;
}