.container{
    text-align: center;
}

.goright {
    float: right;
}

#map {
    width: 600px;
    height: 400px;
    background-color: grey;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.enterhere{
    margin-top: 200px;
}