<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('About')">
</head>
<body>
<main class="ui container">
<div th:include="fragments/navbar :: navbar-partial"></div>


    <h2>About Caddy</h2>
    <p>A full-stack application in which the user can input a list of restaurants they wish to save in one city or multiple, and will be notified of the location of the restaurant when they travel within a specified range.</p>
    <br />


<h2>About The Developers</h2>
    <div class="ui two doubling stackable cards">
    <div class="ui card nichole">
        <div class="image dimmable">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">
                            Email
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://s3.amazonaws.com/alumni.codeup.com/NicholeKirlin.jpg" />
        </div>
        <div class="content">
            <div class="header">
                Nichole Kirlin
            </div>
            <div class="description">
                Full stack software developer with a Masters in Organizational Development.
            </div>
        </div>
        <div class="extra content">
            <a class="right floated created" href="https://github.com/nicholemk">GitHub</a><a class="left floated created" href="https://www.linkedin.com/in/nicholekirlin/"> LinkedIn</a>
        </div>
    </div>

    <div class="ui card cory">
        <div class="image dimmable">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">
                            Email
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://s3.amazonaws.com/alumni.codeup.com/CoryImel.jpg"/>
        </div>
        <div class="content">
            <div class="header">
                Cory Imel
            </div>
            <div class="description">
                Certified Information Systems Security Professional, Developer, Hobbyist.
            </div>
        </div>
        <div class="extra content">
            <a href="https://www.github.com/xoxide/" class="right floated created" target="_blank">GitHub</a><a href="https://www.linkedin.com/in/cory-imel" class="left floated created" target="_blank"> LinkedIn</a>
        </div>
    </div>
    </div>
</main>
</body>
</html>
