<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('Guest Search')"></head>
<head></head>
<body class="container">
    <div th:include="fragments/navbar :: navbar-partial"></div>
        <h1>Search For A City:</h1>
            <div class="ui hidden divider" />
                <div class="ui local search">
                    <div class="ui left icon input">
                        <input type="text" placeholder="Type here"/>
                    </div>
                    <button type="button" class="ui submit button">Search</button>
                </div>
                <br />
            <div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Fq2UspbtyX0spv_22WGd4ChnxFIQREQ"></script>
<script>
    $(document).ready(function () {
        function initMap() {
        var sanantonio = {lat: 29.424122, lng: -98.493629};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: sanantonio
        });
        var marker = new google.maps.Marker({
            position: sanantonio,
            map: map
        });
    }
    initMap();
});
</script>
</body>
</html>

