<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="fragments/header :: main-header('Caddy')">
</head>
<body>
<main class="ui container">
    <div th:include="fragments/navbar :: navbar-partial"></div>
    <div class="enterhere">
    <h2>WHERE DO YOU WANT TO GO?</h2>
        <div class="ui hidden divider"></div>
        <div class="ui local search">
            <div class="ui left icon input">
                <input id="city-name"  type="text" placeholder="e. g. New York City"/>
            </div>
            <button id="search-btn" type="button" class="ui submit button">Search</button>
            <button id="register-btn" type="button" class="ui submit button">Register</button>
        </div>
    </div>
    <script src="/js/geocode.js"></script>
    <script>
     $(document).ready(function() {
    $('#city-name').keyup(function (e) {
                    if (e.keyCode === 13){
                        window.location = "/search?location=" + $('#city-name').val();
                    }
                });
    });
</script>
</main>
</body>
</html>