<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="fragments/header :: main-header('temp')">
</head>
    <body>
    <main class="ui container">
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<div th:include="fragments/navbar :: navbar-partial"></div>
<br/>
<div id="yelp"></div>
<br/>
<div id="google"></div>
    </main>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcg-lOtySjyOVfjGHxr6AWyKTnAGFktK0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");
        var csrfToken = $("meta[name='_csrf']").attr("content");
        var geocoder = new google.maps.Geocoder;

       function forwardGeocode(cityStr) {
               geocoder.geocode({address: cityStr}, function (results, status) {
                   if (status === 'OK') {
                       var currentLatLng = {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
                       console.log(currentLatLng);
                   } else {
                            console.log("nope")
               }
           })
           }

            // forwardGeocode("CodeUp");

       function yelpTest(query) {
           var headers = {};
           headers[csrfHeader] = csrfToken;
           $.ajax({
                   url: "/search/yelp",
                   type: "POST",
                   data: {
                         name: "CodeUp",
                         lat: "29.426785",
                         lon: "-98.4895763999999"
                   },
                   headers: headers
               }).done(function (data) {
                   $('#yelp').html(data.toString());
                   data = JSON.parse(data);
                   console.log(data);

               }).fail(function (jqXhr, status, error) {
                   console.log("he ded");
                              });

       }
yelpTest();


       function geoTest(query) {
                  var headers = {};
                  headers[csrfHeader] = csrfToken;
                  $.ajax({
                          url: "/search/google/geocode",
                          type: "POST",
                          data: {
                                address: "600 Navarro St San Antonio, TX 78205"
                          },
                          headers: headers
                      }).done(function (data) {
                          $('#google').html(data.toString());
                          data = JSON.parse(data);
                          console.log(data);

                      }).fail(function (jqXhr, status, error) {
                          console.log("he ded");
                                     });

              }
       geoTest();

     });
    </script>

</body>
</html>

